{% extends 'crispy_base.html' %}
{% block content %}
<br>
    <div class="row">
      <div class="col-md-6">
          <div class="card card-body">
             <p>Are you sure you want to APPROVE "{{ item }}" cancellation request?</p>
              <p>Be reminded that by confirming you agree to successfully cancel "{{ item }} schedule".</p>

             <form action="{% url 'approve_cancellation' item.id%}" method="POST">

                {% csrf_token %}
                <a class="btn btn-outline-info" href="{% url 'cancellation_requests' %}">Cancel</a>

                <button class="btn btn-outline-info" type="submit">Confirm</button>

             </form>
          </div>
      </div>

    </div>
{% endblock %}