{% extends "crispy_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Schedule Update{% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update both fixed and delivery schedule status</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Update repair status instead? <a class="ml-2" href="{% url 'fixed_update_schedule' %}">Update</a>
            </small>
        </div>
    </div>
{% endblock content %}
