{% extends "admin_account/report_base.html" %}

{% block title %}Event{% endblock title %}

{% block content %}
 <div class="col-md-12">
 <div class="container" style="text-align: center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">USER ACTIVITIES </h1>
      </div>
    </div>
</div>
        <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>User Name</th>
                <th>Event/Action</th>
                <th>When Occurred</th>
             </thead>
   <tbody>
   {% for event in events %}
    <tr>
     <td><input type="checkbox" class="checkthis" /></td>
     <td>{{ event.user}}</td>
     <td>{{ event.action }}</td>
     <td>{{ event.created_at }}</td>
    </tr>
   {% endfor %}
   </tbody>

  </table>
        </div>
    </div>
{% endblock content %}