{% extends "crispy_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Waybill Generation{% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Pickup Waybill Preparation</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Download</button>
                <a class="btn btn-outline-info" href="{% url 'upload_pickup' %}">Upload</a>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Prepare a waybill instead? <a class="ml-2" href="{% url 'pickup_form' %}">Waybill</a>
            </small>
        </div>
    </div>
{% endblock content %}
