{% extends "base.html" %}
{% block title %}Password reset request{% endblock title %}
{% block form_heading %}Password Retrieval{% endblock form_heading %}
{% block content %}
      <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  <p class="login-card-footer-text">Have an account? <a href="{% url 'login' %}" class="text-reset">Login here</a></p>
    <nav class="login-card-footer-nav">
        <a href="#!">Terms of use.</a>
        <a href="#!">Privacy policy</a>
    </nav>
{% endblock %}